main{
    font-size: 3vw;
    height: 100vh;
    text-align: center;
    background-color: whitesmoke;
}

.disp{
    padding-top: calc(50vh - 2em);
}

main>div{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#ip-btn{
    font-size: 100%;
    border: none;
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    main{
        font-size: 20px;
    }
}