body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a{
    text-decoration: none;
    color: unset;
}

.navbar {
    position: relative;
    border-bottom: 1px solid rgb(195, 193, 193);
    box-shadow: 0 0 10px 0 grey;
}

#app-icon{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
}

.links{
    display: inline-block;
}

.rlinks-box {
    float: right;
    margin-top: 20px;
}

.navbar a {
    padding: 20px;
    padding-right: 0px;
}

.navbar a:hover{
    background: rgb(209, 208, 208);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu {   
    position: relative;
    display: inline;
    cursor: pointer;
}

.submenu{
    position: absolute;
    right: 0px;
    top: 2.5em;
    display: none;
    color: rgb(48, 60, 83);
}

.submenu a {
    display: block;
    padding: 5px;
    background-color: rgb(218, 218, 218);
}

.submenu a:hover{
    background-color: rgb(209, 209, 209);
}


#menu-icon{
    border: none;
    background-color: unset;
    vertical-align: middle;
    float: right;
    padding: 1em;
    display: none;
    cursor: pointer;
}

.menu>button{
    padding: 0;
    margin: 0;
    border: none;
    background-color: unset;
    vertical-align: middle;
}

@media screen and (max-width: 1580px) {
    #menu-icon{
        display: block;
    }
    .rlinks-box{
        display: none;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: rgb(255, 255, 255);
        margin-top: calc(1rem + 40px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 10px 2px grey;
        color: rgb(75, 75, 75);
        z-index: 2;
    }

    .menu{
        position: relative;
        display: block;
        padding: 10px 20px ;
    }

    .menu:hover>.submenu{
        display: none;
    }

    .menu>a{
        padding: 0;
    }

    .submenu{
        position: relative;
        left: 0px;
        top: 0em;
        opacity:100%;
    }

    .submenu a {
        background-color: rgb(255, 219, 219);
    }

}

@media screen and (min-width: 1581px) {
    .rlinks-box{
        display: block !important;
    }
}