body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a{
    text-decoration: none;
    color: unset;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar {
    position: relative;
    border-bottom: 1px solid rgb(195, 193, 193);
    box-shadow: 0 0 10px 0 grey;
}

#app-icon{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
}

.links{
    display: inline-block;
}

.rlinks-box {
    float: right;
}

.navbar a {
    padding-right: 0px;
}

.rlinks-box{
    display: flex;
}

.link-box>button{
    border: none;
    background-color: unset;
}

.menu{
    padding: 10px;
}

.menu:hover{
    background: rgb(209, 208, 208);
}

.menu {   
    position: relative;
    display: inline;
    cursor: pointer;
}

.submenu{
    position: absolute;
    right: 0px;
    top: 2.5em;
    display: none;
    color: rgb(48, 60, 83);
    width: 100%;
}

.submenu :mouseout{
    display: none;
}

.submenu a {
    display: block;
    padding: 5px;
    box-shadow: 0 0 1px 1px grey;
    background-color: whitesmoke;
}

.submenu a:hover{
    background-color: rgb(185, 185, 185);
}

#menu-icon{
    border: none;
    background-color: unset;
    vertical-align: middle;
    float: right;
    padding: 1em;
    display: none;
    cursor: pointer;
}

.menu>button{
    padding: 0;
    margin: 0;
    border: none;
    background-color: unset;
    vertical-align: middle;
}

@media screen and (max-width: 1580px) {
    #menu-icon{
        display: block;
    }
    .rlinks-box{
        display: none;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: rgb(255, 255, 255);
        margin-top: calc(1rem + 40px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 0 10px 2px grey;
        color: rgb(75, 75, 75);
        z-index: 2;
    }

    .menu{
        position: relative;
        display: block;
        padding: 10px 20px ;
    }

    .menu:hover>.submenu{
        display: none;
    }

    .menu>a{
        padding: 0;
    }

    .submenu{
        position: relative;
        left: 0px;
        top: 0em;
        opacity:100%;
    }


}