main{
    font-size: 50px;
}

.stop-outer-box{
    text-align: center;
    margin-top: calc(50vh - 3em);
}

#stop-d-box{
    font-size: 2em;
    width: 2ch;
    height: 1em;
    border: none;
    outline: none;
    margin: 0 auto;
    width: min-content;
}

.timer-btns{
    font-size: 35%;
    height: 3em;
    width: 5em;
    border: none;
    border-radius: 20px;
    color: white;
}

#start-btn{
    background-color: rgb(37, 95, 37);
}

#stop-btn{
    background-color: grey;
}

#reset-btn{
    background-color: rgb(231, 43, 43);
}

@media screen and (max-width: 800px) {
    main{
        font-size: 47px;
    }
}

@media screen and (max-width: 500px) {
    main{
        font-size: 35px;
    }
}