main{
    font-size: 60px;
}

.timer-outer-box{
    text-align: center;
    margin-top: calc(50vh - 2em);
}

.timer-input{
    display: inline-block;
    font-size: 80%;
    width: 2ch;
    height: 1em;
    border: none;
    outline: none;
}

.timer-btns{
    font-size: 35%;
    height: 2em;
    width: 5em;
    border: none;
    border-radius: 20px;
    background-color: rgb(51, 114, 216);
    color: white;
}

@media screen and (max-width: 800px) {
    main{
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {
    main{
        font-size: 45px;
    }
}