body{
    margin: 0;
}

.flex-container{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Items{
    width: 20%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.options:hover,.btns>button{
    cursor: pointer;
}

.input-value,.output-value{
    width: 100%;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    height: 1em;
}

.output-value{
    display: inline-block;
    margin: 0;
    overflow: auto;
}

.select-unit{
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    color: whitesmoke;
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 16px;
}

#input-unit-selection>option, #output-unit-selection>option{
    font-size: 16px;
    color: whitesmoke;
}

#convert-btn{
    font-size: 1rem;
    padding: 0.5em 1em;
    border: none;
    background-color: rgb(34, 67, 251);
    color: white;
    border-radius: 1em;
    margin-top: 20px;
}

.quantity-options{
    margin: 100px auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .quantity-options{
        position: relative;
        margin: 50px auto;
        max-width: 400px;
    }

    #unit-expand-btn{
        display: block;
    }

    .quantity-options>div{
        position: relative;
        display: none;
    }
    
    .Items{
        width: 100%;
        margin: 5px;
        padding: 10px;
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .quantity-options{
        position: relative;
        margin: 50px 20px;
        max-width: 400px;
    }

    .Items{
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
}

@media screen and (min-width: 801px) {
    .quantity-options>div{
        display: block !important;
    }
}