body{
    margin: 0;
}

main{
    font-size: 25px;
}

main p{
    margin: 0.5em;
}

.flex-box{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.input-box{
    text-align: center;
    height: fit-content;
    padding: 20px;
}

.input-select-box{
    font-size: 100%;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}

.base-input{
    background-color: rgb(5, 46, 56);
    border: none;
    border-radius: 10px;
    padding: 40px;
    margin-top: 50px;
}

.base-input>p{
    margin: 1px;
    color: white;
    text-align: left;
    font-size: 80%;
}

#input-value{
    font-size: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    width: fit-content;
}

.item{
    text-align: center;
    margin: 50px;
}

.select-to-box{
    width: fit-content;
    background-color: rgb(5, 46, 56);
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 100%;
    text-align: center;
    height: fit-content;
}

.to-select-box{
    font-size: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: grey;
    padding: 10px;
}

.convert-btn{
    margin-top: 50px;
    font-size: 100%;
    padding: 25px;
    background-color: rgb(55, 55, 245);
    border: none;
    color: white;
    border-radius: 10px;
}

.output-box{
    width: fit-content;
    min-height: 2em;
    background-color: rgb(20 57 66);
    border-radius: 10px;
    padding: 40px;
    font-size: 100%;
    margin: 0 auto;
}

.output-box>p{
    margin: 1px;
    color: white;
    font-size: 90%;
    text-align: left;
}

.base-output{
    height: 50px;
    background-color: white;
    font-size: 100%;
    overflow: hidden;
}

#input-value::placeholder{
    color: rgb(218, 218, 218);
    font-style: italic;
}

.output-container{    
    text-align: center;
    margin: 50px;
}

@media screen and (max-width: 1100px) {
    .flex-box{
        width: 90%;
    }

    .item{
        text-align: center;
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    main{
        font-size: 20px;
    }

    .flex-box{
        width: 100%;
    }

    .item{
        margin: 10px;
        text-align: center;
    }

    #input-value{
        width: 100%;
    }

    .base-input{
        margin-top: 20px;
    }

    .output-container{
        margin: 20px;
    }

    #btn{
        margin-top: 20px;
    }

}