body{
    margin: 0;
}

.main-outer-box{
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.top-option-selector{
    border: none;
    outline: none;
    overflow: hidden;
}

.top-options{
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(113, 128, 134);
    color: rgb(221, 221, 221);
    box-sizing: border-box;
}

.sub-option-selector{
    border: none;
    outline: none;
    overflow: hidden;
    height: 100px;
    visibility: hidden;
}

.sub-options{
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(29, 33, 41);
    color: white;
    box-sizing: border-box;
}

.inout-flex-box{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 20px;
}

.text-box-container{
    padding: 10px;
    background-color: rgb(31, 47, 47);
    color: rgb(221, 220, 220);
    border-radius: 20px;
    font-size: 20px;
}

.text-box{
    width: 90%;
    height: 200px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

.item button{
    margin: 20px;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    outline: none;
    background-color: #778979;
    color: white;
}

#operation-switch>img{
    height: 40px;
    vertical-align: middle;
}

.expand-btn{
    width: 80%;
    border: none;
    height: 3em;
    border-radius: 5px;
    background-color: blueviolet;
    font-size: 1.2em;
    display: none;
    margin: 5px auto;
    color: white;
}

#hash-selector{
    display: none;
}

@media screen and (max-width: 1150px) {
    .inout-flex-box{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    #hash-selector{
        display: block;
        visibility: hidden;
    }

    .expand-btn{
        display: block;
    }

    .top-option-selector{
        width: 100%;
        height: unset;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .top-options{
        display: block;
        margin: 0px auto;
        width: 80%;
        overflow: hidden;
    }

    .sub-option-selector{
        width: 100%;
        height: unset;
        position: absolute;
        top: calc(1em + 40px);
        left: 0;
        display: none;
    }

    .sub-options{
        display: block;
        margin: 0px auto;
        width: 80%;
        overflow: hidden;
    }

    .item{
        margin: 1px;
    }
    .item>p{
        margin: 5px;
    }
    .item>button{
        margin: 5px;
    }
}

@media screen and (max-width: 400px) {
    .item{
        margin: 1px;
    }
    .item>p{
        margin: 5px;
    }
    .item>button{
        margin: 1px;
    }
}

@media screen and (min-width: 1151px){
    .top-option-selector{
        visibility: visible !important;
    }

    .sub-option-selector{
        display: block !important;
    }

    #hash-selector{
        display: none !important;
    }

    
}