body{
    margin: 0;
}

.home-grid-box>a{
    text-decoration: none;
    color: unset;
    padding: 0;
}

.home-main-outer-box{
    margin: 50px 20px;
    text-align: center;
}

.home-grid-box{
    margin-top: 75px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.home-grid-item{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 200px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: indianred;
}

.home-grid-item>div>img{
    height: 100px;
}

.home-grid-item>div>p{
    margin: 10px;
}

@media screen and (max-width: 1150px) { 
    .home-grid-box{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) { 
    .home-grid-box{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: unset;
    }

    .home-grid-item{
        height: fit-content;
        padding: 10px;
        justify-content: left;
    }

    .home-grid-item>div>img{
        height: 50px;
    }

    .home-grid-item>div p{
        display: inline;
        overflow: hidden;
    }
    
    .home-grid-item>div>img{
        vertical-align: middle;
    }


}