body {
    margin: 0;
}

.outer-box{
    width: 60%;
    margin: 100px auto;
}

.container-box{    
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.disp{
    font-size: 3vw;
    color: white;
    background-color: #37474F;
    width: fit-content;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}

.input-box{
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 30px;
    box-shadow: 0 0 10px grey;
    margin: 20px;
}

.heading{
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputs {
    font-size: 40px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border: none;
    color: rgb(59, 59, 59);
}

.switch-box{
    padding: 10px;
    background-color: #37474F;
    border-radius: 50%;
}

.switch-box>img{
    height: 2em;
}


.btn-box{
    margin: 50px auto;
    text-align: center;
}

.btn-box>button{
    padding: 25px 100px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(22, 22, 22);
    color: rgb(224, 223, 223);
}

.partitioner-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid grey;
    background-color:grey;
    padding: 20px;
    color: white;
}


.partitioner-bottom{
    padding: 20px;
}

@media screen and (max-width: 850px) {
    .outer-box{
        width: 90%;
        margin: 50px auto;
    }

    .disp{
        font-size: 4vw;
    }

    .container-box {
        flex-direction: column;
    }

    .btn-box{
        margin-top: 20px;
    }

    .btn-box>button{
        padding: 1em 1em;
        font-size: 1.5em;
        width: 60%;
        overflow: hidden;
    }
    input{
        font-size: 20px;
    }

    .partitioner-top, .partitioner-bottom{
        padding: 10px;
        font-size: 25px;
    }

    .partitioner-bottom>input{
        font-size: 25px;
        width: 100%;
        min-width: 200px;
    }
}