body{
    margin: 0;
}

.flex-container{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Items{
    width: 20%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.quantities{
    margin: 20px;
    width: 25%;
    height: 5em;
    text-align: center;
    background-color: rgb(19, 58, 68);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
}

#unit-expand-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    height: 50px;
    background-color: rgb(19, 58, 68);
    color: white;
    font-size: 20px;
    display: none;
}

.input-value,.output-value{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(61, 65, 66, 0.555);
    font-size: 25px;
    vertical-align:middle;
    padding: 2px;
}

.output-value{
    display: inline-block;
    margin: 0;
    overflow: auto;
}

.select-unit{
    min-width: 100px;
    height: 50px;
    border: 1px solid black;
    box-sizing: content-box;
    background-color: rgb(224 211 55);
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
}

#input-unit-selection>option, #output-unit-selection>option{
    font-size: 20px;
    color: rgba(41, 39, 39, 0.918);
}

#convert-btn{
    width: 100%;
    max-width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: beige;
    background-color: rgb(6, 46, 39);
    font-size: 20px;
}

.quantity-options{
    margin: 100px auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .quantity-options{
        position: relative;
        margin: 50px auto;
        max-width: 400px;
    }

    #unit-expand-btn{
        display: block;
    }

    .quantity-options>div{
        position: relative;
        display: none;
    }

    .quantities{
        width: 100%;
        display: block;
        margin: 1px auto;
    }

    .Items{
        width: 100%;
        margin: 5px;
        padding: 10px;
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .quantity-options{
        position: relative;
        margin: 50px 20px;
        max-width: 400px;
    }

    .Items{
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
}

@media screen and (min-width: 801px) {
    .quantity-options>div{
        display: block !important;
    }
}